<h1>Edit Playlist</h1>

<%= form_with model: @playlist do |f| %>

    <div class="field">
        <%= f.label "New Playlist Name:" %><br/>
        <%= f.text_field :name %>
    </div><br/>

    <%= f.submit %>

<% end %>